<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml" version="0.0.20">

<head>
  <title>Il riepilogo del tuo pagamento</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="page">
    <div class="page-wrapper">

      {{!-- Header --}}
      {{> header}}

      <main>
        <div class="content-grid">

          {{!-- Transaction Data: summary about the PSP, payment methods, etc… --}}
          {{> transactionData}}

          <section class="transaction-detail">
            {{#each (slice cart.items 0 3)}}

            {{> singleCartItem}}

            {{/each}}
          </section>

          {{#if (lte cart.items.length 3)}}
          {{> transactionTotals}}
          {{/if}}

        </div>
      </main>

      {{!-- Footer --}}
      {{> footer}}

    </div>
  </div>

  {{#if (gt cart.items.length 3)}}

  <div class="page">
    <div class="page-wrapper">

      {{!-- Header --}}
      {{> header}}

      {{!-- MAIN CONTENT -- START --}}
      <main>
        <div class="content-grid">

          <section class="transaction-detail">
            {{#each (slice cart.items 3)}}

            {{> singleCartItem}}

            {{/each}}
          </section>

          {{> transactionTotals}}

        </div>
      </main>
      {{!-- MAIN CONTENT -- END --}}

      {{!-- Footer --}}
      {{> footer}}

    </div>
  </div>

  {{/if}}

</body>

</html>