name: Update receipt-pdf-notifier

on:
  push:
    branches:
      - main
    paths:
      - "io-message/templates/debtor.json"
      - "io-message/templates/payer.json"

  workflow_dispatch:

jobs:
  update_receipt_notifier_markdown:
    name: Update receipt-pdf-notifier
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2


      - name: Create pull request
        uses: jacopocarlini/action-pull-request-another-repo@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.BOT_TOKEN_GITHUB }}
        with:
          source_folder: "io-message/templates/helm"
          destination_repo: "pagopa/pagopa-receipt-pdf-notifier"
          destination_folder: "helm/templates"
          destination_base_branch: "main"
          destination_head_branch: "pagopa-receipt-message-template-pdf-update"
          user_email: "github-bot@pagopa.it"
          user_name: "pagopa-github-bot"
          allow_force_push: "true"
