name: Update receipt-pdf-generator

on:
  push:
    branches:
      - main
    paths:
      - "receipt/success/pdf/assets"
      - "receipt/success/pdf/style.css"
      - "receipt/success/pdf/template.hbs"

  workflow_dispatch:

jobs:
  update_pdf_engine_temaplate:
    name: Update receipt-pdf-generator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2

      # prepare receipt-pdf-generator for engine
      # create tmp folder template
      # copy all needed files
      - name: Zip files in temp directory
        shell: bash
        id: zip_files
        run: |
          cd receipt/success/pdf
          mkdir -p tmp
          cp template.hbs tmp/template.html
          cp style.css tmp/
          cp -pR assets tmp/
          cd tmp
          zip -r template.zip *
          rm -rf assets template.html style.css
      # open a PR on generator repo
      - name: Create pull request
        uses: jacopocarlini/action-pull-request-another-repo@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.BOT_TOKEN_GITHUB }}
        with:
          source_folder: "receipt/success/pdf/tmp"
          destination_repo: "pagopa/pagopa-receipt-pdf-generator"
          destination_folder: "src/main/resources"
          destination_base_branch: "main"
          destination_head_branch: "pagopa-template-receipt-pdf-update"
          user_email: "github-bot@pagopa.it"
          user_name: "pagopa-github-bot"
          allow_force_push: "true"
